@model IEnumerable<OnlineLibrary.Models.BorrowTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Hold History</h1>
<br />

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 50%">
                    @Html.DisplayNameFor(model => model.Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="5">No hold found.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Book.Title
                        </td>
                        <td>
                            @item.RentalDate.ToShortDateString()
                        </td>
                        <td>
                            @item.EndDate.ToShortDateString()
                        </td>
                        <td>
                            @item.State
                        </td>
                        <td class="text-center">
                            @if (@item.State == BorrowTransaction.BorrowingState.InProgrees)
                            {
                                <a asp-action="Return" asp-route-id="@item.Id" class="btn btn-success btn-sm mr-1">Return</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
